aws-native-reference/10-payments-compliance/stepfunctions/payments_compliance.asl.json
{
  "Comment": "AWS-native Payments Compliance. Deterministic OFAC/Nacha/Reg E screening + HITL triggers decide; the LLM only drafts customer notices; the BSA/compliance gate uses waitForTaskToken. NOC/administrative events auto-resolve.",
  "StartAt": "Intake",
  "States": {
    "Intake": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "${IntakeFunctionArn}", "Payload.$": "$"}, "OutputPath": "$.Payload", "Next": "Screen"},
    "Screen": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "${ScreenFunctionArn}", "Payload.$": "$"}, "OutputPath": "$.Payload", "Next": "Route"},
    "Route": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "${RouteFunctionArn}", "Payload.$": "$"}, "OutputPath": "$.Payload", "Next": "DispositionChoice"},
    "DispositionChoice": {
      "Type": "Choice",
      "Choices": [
        {"Variable": "$.routing.next", "StringEquals": "HumanReviewGate", "Next": "HumanReviewGate"},
        {"Variable": "$.routing.next", "StringEquals": "AutoResolve", "Next": "AutoResolve"}
      ],
      "Default": "DraftNotice"
    },
    "HumanReviewGate": {
      "Type": "Task", "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {"FunctionName": "${HitlNotifyFunctionArn}", "Payload": {"input.$": "$", "task_token.$": "$$.Task.Token"}},
      "ResultPath": "$.review", "TimeoutSeconds": 2592000, "Next": "Finalize"
    },
    "AutoResolve": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "${AutoResolveFunctionArn}", "Payload.$": "$"}, "OutputPath": "$.Payload", "Next": "Finalize"},
    "DraftNotice": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "${DraftNoticeFunctionArn}", "Payload.$": "$"}, "OutputPath": "$.Payload", "Next": "Finalize"},
    "Finalize": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "${FinalizeFunctionArn}", "Payload.$": "$"}, "OutputPath": "$.Payload", "End": true}
  }
}
