aws-native-reference/12-collections-recovery/stepfunctions/collections_recovery.asl.json
{
  "Comment": "AWS-native Collections & Recovery. Deterministic FDCPA contact-time (pytz, fail-safe), SCRA 6% cap, bankruptcy stay, and the 9 immutable ALWAYS_HITL conditions decide; the LLM drafts only the letter body and required disclosures are Python-injected; a supervisor approves via waitForTaskToken.",
  "StartAt": "Intake",
  "States": {
    "Intake": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "${IntakeFunctionArn}", "Payload.$": "$"}, "OutputPath": "$.Payload", "Next": "Assess"},
    "Assess": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "${AssessFunctionArn}", "Payload.$": "$"}, "OutputPath": "$.Payload", "Next": "DispositionChoice"},
    "DispositionChoice": {
      "Type": "Choice",
      "Choices": [{"Variable": "$.assessment.next", "StringEquals": "SupervisorReviewGate", "Next": "SupervisorReviewGate"}],
      "Default": "DraftLetter"
    },
    "SupervisorReviewGate": {
      "Type": "Task", "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {"FunctionName": "${SupervisorNotifyFunctionArn}", "Payload": {"input.$": "$", "task_token.$": "$$.Task.Token"}},
      "ResultPath": "$.review", "TimeoutSeconds": 2592000, "Next": "Finalize"
    },
    "DraftLetter": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "${DraftLetterFunctionArn}", "Payload.$": "$"}, "OutputPath": "$.Payload", "Next": "Finalize"},
    "Finalize": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "${FinalizeFunctionArn}", "Payload.$": "$"}, "OutputPath": "$.Payload", "End": true}
  }
}
